.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 787px;
}

.u-section-1 .u-shape-1 {
  width: 371px;
  height: 371px;
  margin: 386px auto 0 0;
}

.u-section-1 .u-shape-2 {
  width: 487px;
  height: 368px;
  margin: -727px 0 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  width: 997px;
  margin: -270px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 530px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-icon-1 {
  height: 98px;
  width: 98px;
  margin: 94px auto 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 530px;
  background-image: url("images/ScreenShot2020-12-04at8.20.59PM.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 195px 0 0 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 757px;
  }

  .u-section-1 .u-shape-1 {
    width: 324px;
    height: 331px;
    margin-top: 51px;
  }

  .u-section-1 .u-shape-2 {
    width: 470px;
    height: 337px;
    margin-top: -656px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 880px;
    margin-bottom: -185px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 500px;
  }

  .u-section-1 .u-image-1 {
    min-height: 500px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 643px;
  }

  .u-section-1 .u-shape-1 {
    width: 278px;
    height: 294px;
    margin-top: 46px;
    margin-left: -36px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -552px;
    margin-right: -38px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -268px;
    margin-bottom: -138px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 409px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 993px;
  }

  .u-section-1 .u-shape-1 {
    width: 424px;
    height: 367px;
    margin-top: 47px;
    margin-left: -32px;
  }

  .u-section-1 .u-shape-2 {
    width: 457px;
    height: 316px;
    margin-top: 215px;
    margin-right: -39px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -824px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 135px;
    padding-left: 20px;
  }

  .u-section-1 .u-image-1 {
    min-height: 511px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 749px;
  }

  .u-section-1 .u-shape-1 {
    width: 323px;
    height: 289px;
    margin-top: 45px;
    margin-left: -50px;
  }

  .u-section-1 .u-shape-2 {
    width: 299px;
    height: 215px;
    margin-top: 156px;
    margin-right: -50px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -634px;
    margin-bottom: 130px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 20px;
  }

  .u-section-1 .u-image-1 {
    min-height: 322px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1132px;
}

.u-section-2 .u-shape-1 {
  width: 546px;
  height: 512px;
  margin: 60px auto 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 400;
  width: 737px;
  margin: -362px auto 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25rem;
  background-image: none;
  border-style: none;
  margin: 97px auto 60px;
  padding: 15px 43px 16px;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-shape-1 {
    width: 540px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.75rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-2 .u-shape-1 {
    height: 491px;
    width: 419px;
    margin-left: -39px;
    margin-right: -39px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 679px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 55px auto 55px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 569px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 50px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 30px 40px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 569px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-shape-1 {
  width: 250px;
  height: 219px;
  margin: 15px auto 0 0;
}

.u-section-3 .u-shape-2 {
  width: 352px;
  height: 286px;
  margin: -25px auto 0 158px;
}

.u-section-3 .u-image-1 {
  width: 439px;
  height: 439px;
  background-image: url("images/57e1d6414f51ad14f6da8c7dda793678153bdee757596c48732f7cd5974ec45db9_1280.jpg");
  background-position: 50% 50%;
  margin: -480px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 579px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 438px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 500px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 12px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -26px;
    margin-left: 89px;
  }

  .u-section-3 .u-image-1 {
    width: 410px;
    height: 410px;
    margin-top: -472px;
    margin-left: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 210px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 584px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 60px;
    margin-left: -10px;
  }

  .u-section-3 .u-shape-2 {
    width: 281px;
    height: 268px;
    margin-top: -69px;
    margin-left: 73px;
  }

  .u-section-3 .u-image-1 {
    width: 337px;
    height: 337px;
    margin-top: -379px;
    margin-left: -3px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 310px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-shape-1 {
    width: 305px;
    height: 267px;
    margin-top: 15px;
    margin-left: 10px;
  }

  .u-section-3 .u-shape-2 {
    width: 304px;
    height: 290px;
    margin-top: -79px;
    margin-left: 206px;
  }

  .u-section-3 .u-image-1 {
    width: 418px;
    height: 418px;
    margin-top: -457px;
    margin-left: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 440px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 15px;
  }

  .u-section-3 .u-shape-1 {
    width: 252px;
    height: 214px;
    margin-left: -10px;
  }

  .u-section-3 .u-shape-2 {
    width: 281px;
    height: 255px;
    margin-top: -102px;
    margin-right: -10px;
    margin-left: auto;
  }

  .u-section-3 .u-image-1 {
    margin-top: -347px;
    height: 300px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1563px;
}

.u-section-4 .u-text-1 {
  width: 817px;
  line-height: 0.8;
  font-family: Livvic;
  font-size: 3rem;
  margin: 98px auto 0;
}

.u-section-4 .u-text-2 {
  width: 817px;
  font-size: 1.25rem;
  margin: 40px auto 0;
}

.u-section-4 .u-shape-1 {
  width: 767px;
  height: 691px;
  margin: 438px -35px 0 auto;
}

.u-section-4 .u-shape-2 {
  width: 843px;
  height: 836px;
  margin: -949px auto 0 120px;
}

.u-section-4 .u-shape-3 {
  height: 1014px;
  width: 1176px;
  margin: -996px -18px 0;
}

.u-section-4 .u-list-1 {
  min-height: 562px;
  grid-template-columns: calc(50% - 9px) calc(50% - 9px);
  width: 707px;
  grid-gap: 18px 18px;
  margin: -788px auto 60px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 20px auto 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px;
}

.u-section-4 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 20px auto 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px;
}

.u-section-4 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 20px auto 0;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px;
}

.u-section-4 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 20px auto 0;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1461px;
  }

  .u-section-4 .u-text-1 {
    font-size: 6rem;
    margin-top: 70px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
    margin-left: 62px;
    margin-right: 62px;
  }

  .u-section-4 .u-shape-1 {
    height: 680px;
    margin-top: 398px;
    margin-right: -33px;
  }

  .u-section-4 .u-shape-2 {
    width: 849px;
    margin-top: -1008px;
    margin-left: 97px;
  }

  .u-section-4 .u-shape-3 {
    height: 994px;
    width: 1006px;
    margin-top: -895px;
    margin-right: auto;
    margin-left: -50px;
  }

  .u-section-4 .u-list-1 {
    min-height: 692px;
    width: 557px;
    height: auto;
    margin-top: -843px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2228px;
  }

  .u-section-4 .u-text-1 {
    width: 720px;
    margin-top: 75px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-shape-1 {
    height: 839px;
    width: 720px;
    margin-top: 973px;
    margin-right: -40px;
  }

  .u-section-4 .u-shape-2 {
    width: 720px;
    margin-top: -1603px;
    margin-left: 0;
  }

  .u-section-4 .u-shape-3 {
    height: 1623px;
    width: 782px;
    margin-top: -984px;
  }

  .u-section-4 .u-list-1 {
    min-height: 1302px;
    grid-template-columns: 100%;
    width: 377px;
    margin-top: -1513px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
    font-size: 3.75rem;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-shape-1 {
    width: 540px;
  }

  .u-section-4 .u-shape-2 {
    width: 540px;
  }

  .u-section-4 .u-shape-3 {
    width: 710px;
    margin-left: -92px;
  }

  .u-section-4 .u-list-1 {
    width: 341px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-top: 77px;
    margin-left: 0;
    margin-right: 0;
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
    margin-top: 18px;
  }

  .u-section-4 .u-shape-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-4 .u-shape-2 {
    width: 390px;
    margin-right: 0;
    margin-left: -50px;
  }

  .u-section-4 .u-shape-3 {
    width: 600px;
    margin-left: -154px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
  }
}