.u-section-1 {
  background-image: url("images/57e8d34a4f53ac14f6da8c7dda793678153bdee757596c48732f7cd49e44c65eb9_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 864px;
}

.u-section-1 .u-group-1 {
  width: 923px;
  min-height: 383px;
  margin: 154px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  line-height: 1;
  font-size: 6rem;
  margin: 25px 0 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.875rem;
  margin: 10px 0 0;
}

.u-section-1 .u-icon-1 {
  height: 138px;
  width: 138px;
  margin: 154px auto 35px 109px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 712px;
  }

  .u-section-1 .u-group-1 {
    width: 645px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-1 .u-group-1 {
    width: 494px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 905px;
  }

  .u-section-1 .u-group-1 {
    min-height: 424px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 39px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    width: 238px;
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-2 {
  background-image: url("images/54e4dc414a53ac14f6da8c7dda793678153bdee757596c48732f7cd49e44c151bf_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 646px;
}

.u-section-2 .u-group-1 {
  width: 570px;
  min-height: 366px;
  margin: 235px 0 45px auto;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 12px 10px 0;
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
  margin: 31px 28px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-2 .u-group-1 {
    width: 470px;
    min-height: 406px;
    margin-top: 196px;
    margin-bottom: 57px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-right: 0;
    margin-left: 16px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-right: 0;
    margin-left: 45px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 360px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 814px;
  }

  .u-section-2 .u-group-1 {
    min-height: 620px;
    margin-top: 97px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 262px;
    margin-left: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: 30px;
    margin-left: 17px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1006px;
  }

  .u-section-2 .u-group-1 {
    min-height: 619px;
    margin-top: 194px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-top: 55px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-2 {
    margin: 6px 6px 55px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 403px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 58px auto 58px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 407px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  margin: 0 20px;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  margin: 20px 20px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 407px;
  background-image: none;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  margin: 133px 20px 0;
}

.u-section-3 .u-text-4 {
  font-size: 0.875rem;
  margin: -7px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 288px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-3 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 288px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-3 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 291px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -44px;
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 619px;
}

.u-section-4 .u-video-1 {
  height: 360px;
  width: 640px;
  margin: 60px auto 0;
}

.u-section-4 .u-text-1 {
  width: 680px;
  margin: 30px auto 60px;
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-4 .u-video-1 {
    height: 300px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-4 .u-video-1 {
    height: 190px;
    margin-top: 61px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }
}.u-section-5 {
  background-image: url("images/54e4dc414a53ac14f6da8c7dda793678153bdee757596c48732f7cd49e44c151bf_1280.jpg");
}

.u-section-5 .u-sheet-1 {
  min-height: 622px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 543px;
  margin: 52px 0 52px auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 133px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: 34px 20px 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 385px;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 20px 0;
}

.u-section-5 .u-text-3 {
  font-size: 1rem;
  margin: 20px 20px 0;
}

.u-section-5 .u-layout-cell-3 {
  background-image: none;
  min-height: 385px;
}

.u-section-5 .u-container-layout-3 {
  padding-left: 20px;
}

.u-section-5 .u-text-4 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-5 .u-text-5 {
  font-size: 1rem;
  margin: 20px 20px 0 0;
}

.u-section-5 .u-layout-cell-4 {
  background-image: none;
  min-height: 385px;
}

.u-section-5 .u-text-6 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.5rem;
}

.u-section-5 .u-text-7 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1rem;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 536px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
    font-size: 1.25rem;
  }

  .u-section-5 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 16px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.25rem;
    position: relative;
  }

  .u-section-5 .u-text-5 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
    font-size: 1.25rem;
  }

  .u-section-5 .u-text-7 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 75px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 411px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 187px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 322px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 322px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 13px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 13px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 322px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 175px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 385px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 232px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 149px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 166px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 9px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 9px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 272px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 323px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 0;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 137px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 153px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 6px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 6px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 251px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 763px;
}

.u-section-6 .u-group-1 {
  width: 581px;
  min-height: 633px;
  margin: 40px auto 0 0;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 20px;
  padding-bottom: 30px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  margin: 59px 20px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1rem;
  margin: 17px 101px 0 0;
}

.u-section-6 .u-image-1 {
  width: 509px;
  height: 683px;
  margin: -683px 20px 40px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 84px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-6 .u-text-1 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-6 .u-text-2 {
    position: relative;
    margin-right: 83px;
  }

  .u-section-6 .u-image-1 {
    width: 360px;
    height: 603px;
    margin-top: -615px;
    margin-right: 0;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-group-1 {
    width: 360px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 64px;
  }

  .u-section-6 .u-image-1 {
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-group-1 {
    min-height: 229px;
    margin-top: 21px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 20px;
    margin-right: 56px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 9px;
    margin-right: 91px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1035px;
  }

  .u-section-6 .u-group-1 {
    width: 283px;
    min-height: 356px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 30px;
    margin-bottom: 26px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 570px;
  }
}